<!DOCTYPE html>
<section class="about-us">
    <div class="about">
        <img src="https://images.pexels.com/photos/2817510/pexels-photo-2817510.jpeg?auto=compress&cs=tinysrgb&w=600"
            class="pic">
        <div class="text">
            <h2>About Us</h2>
            <h5>Vehicle Host <span>Hub</span></h5>
            <p>
                Welcome to Vehicle Host Hub, where we revolutionize vehicle rentals with a focus on convenience and
                sustainability. Our platform specializes in renting out idle vehicles, providing owners with a passive
                income opportunity. We charge rental fees based on time of usage, ensuring fair and transparent pricing
                for both owners and renters. Our mission is to optimize resources and promote environmental
                consciousness. With our user-friendly platform, listing your vehicle and finding rentals is quick and
                easy.. </p>
            <div class="data">
                <button class="hire" (click)="registerMe()">Register Now!!!</button>
            </div>
        </div>
    </div>
</section>