<app-header3></app-header3>

<body>
  <br />
  <br />
  <br />

  <h3 style="color:white;">Welcome <u><i>{{email}}</i></u>!</h3>
  <app-image></app-image>
</body>


<footer>
  <div class="locations">
    <span>Copyright © 2023 All Rights Reserved</span>
    <span>Instagram</span>
    <span>Twitter</span>
    <span>Facebook</span>
  </div>

  <div class="locations">
    <span><b>Locations</b></span>
    <ul>
      <li>Hyderabad</li>
      <li>Mumbai</li>
      <li>Banglore</li>
      <li>Chennai</li>
      <li>Kolkata</li>
    </ul>
  </div>

  <div class="locations">
    <ul>
      <li>Jaipur</li>
      <li>Delhi</li>
      <li>Pune</li>
      <li>Agra</li>
      <li>Kochi</li>
    </ul>
  </div>

  <div class="locations">
    <span><b>Customer Care</b></span>
    <ul>
      <li>Contact Us</li>
      <li>FAQ'S</li>
      <li>Privacy Policy</li>
      <li>Terms and Conditions</li>
      <li>Canceling or Changing a booking</li>
    </ul>
  </div>
</footer>