.main {
    /* background-image: url('../../assets/images/main.jpeg'); */
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    padding: 20px; /* Add padding to the component content */
  }
  
 