.status-message {
    font-size: 40px; /* Adjust the font size as needed */
    color: green;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  