 <nav class="nav">
    <div class="container">
      <h1 class="logo"><a href="#">Vehicle Host Hub</a></h1>
      <ul>
        <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="aboutus">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="contact">Contact</a>
      </li>
      </ul>
    </div>
  </nav>
  
  <div class="video-container">
    <video autoplay loop muted>
      <source src="./assets/vehicle1video.mp4" type="video/mp4">
      <!-- Add additional source elements for other video formats (webm, ogg, etc.) -->
    </video>
  </div>
  
  
  
